In [1]:
import os
import pandas as pd
import openpyxl

In [2]:
for f in os.listdir():
    if "xlsx" in f:
        df = pd.read_excel(f, engine="openpyxl")
        df.head()

In [3]:
df

,ID_MARCA,MARCA,ID_LINHA,LINHA,DATA_VENDA,QTD_VENDA
0,4,VULT,4,SOLAR,2017-08-07,15
1,1,BOTICÁRIO,1,CABELOS,2017-02-15,4
2,1,BOTICÁRIO,5,HIDRATANTES,2017-12-04,2
3,5,BELEZA NA WEB,1,CABELOS,2017-12-25,10
4,4,VULT,4,SOLAR,2017-11-14,2
...,...,...,...,...,...,...
995,5,BELEZA NA WEB,5,HIDRATANTES,2017-08-11,16
996,3,QUEM DISSE BERENICE,3,MAQUIAGEM,2017-08-03,16
997,1,BOTICÁRIO,2,PERFUMARIA,2017-10-01,3
998,4,VULT,1,CABELOS,2017-04-01,2
999,3,QUEM DISSE BERENICE,2,PERFUMARIA,2017-09-28,12